{{ $original := .Page.Resources.GetMatch (printf "*%s*" (string (.Get 0))) }}
{{ if eq $original nil }}
{{ range .Site.Pages }}{{ $.Scratch.Add "resources" .Resources }}{{ end }}
{{ $resources := .Scratch.Get "resources" }}
{{ $original = ($resources.GetMatch (printf "*%s*" (string (.Get 0)))) }}
{{ end }}
{{ .Scratch.Set "image" ($original) }}
{{ $image := .Scratch.Get "image" }}

{{- $image_350 := ($image.Resize "350x q75") }} 
{{- $image_700 := ($image.Resize "700x q75") }}
{{- $image_1400 := ($image.Resize "1400x q75") }}  

{{ with $original }}
{{ $picture := index $.Site.Data.pictures .Name }}
<figure style="padding: 0.25rem; margin: 2rem 0">
    <img class="lazy" style="max-width: 100%; height: auto;" src="{{ $image_350.RelPermalink }}" alt="{{ with $picture }} {{- if ne .title "-"}}
        {{ .title | htmlUnescape }}{{ if ne .description "-"}}. {{ .description | htmlUnescape }}
        {{ end }} {{else}}Una foto
        {{- end }}{{- end }}"
        data-srcset="{{ $image_350.RelPermalink }} 350w, {{ $image_700.RelPermalink }} 700w, {{ $image_1400.RelPermalink }} 1400w, {{ $image.RelPermalink }} {{ $image.Width }}w"
        >
    <figcaption>
        <small>
            {{ with $picture }} {{ if ne .title "-"}}
            {{ .title | htmlUnescape }}{{ if ne .description "-"}}. {{ .description | htmlUnescape }}
            {{ end }}
            {{ end }} {{ end }}
        </small>
    </figcaption>
</figure>
{{ end }}