{{ $image := (.Resources.GetMatch (printf "*%s*" (string .Params.featured_picture ))) }}
<a href="{{ .URL }}" class="no-underline">
    <div class="tile ma1" 
    {{ with .Params.featured_picture }}
    {{ $thumb_1x := ($image.Resize "480x q50") }} 
    {{ $thumb_2x := ($image.Resize "960x q50") }}    
    {{ $thumb_3x := ($image.Resize "1440x q50") }} 
    style="background-image: -webkit-image-set( 
        url({{ $thumb_1x.RelPermalink }}) 1x, 
        url({{ $thumb_2x.RelPermalink }}) 2x, 
        url({{ $thumb_3x.RelPermalink }}) 3x 
        );" 
    {{ end }}>
        <h1 class="white f3 fw2 athelas ml2 mt3">{{ .Title }}</h1>
    </div>
</a>