{{/*Continent template*/}}
{{ define "main" }}
{{ range .Site.Pages }}{{ $.Scratch.Add "resources" .Resources }}{{ end }}
{{ $resources := .Scratch.Get "resources" }}

{{ $url := .Params.url }}
<div class="flex flex-wrap justify-center content-center bg-white pt4 pb4">

    {{ range $.Site.Data.viajes }}
    {{ if eq .continent $.Params.continent }}
    {{ $image := ($resources.GetMatch (printf "*%s*" (string .featured_picture ))) }}
    {{ $slug := .sanitized }}
    <a href="/viaje/{{.sanitized}}" class="no-underline">
        {{- with $image -}}<style scoped>
            {{- $thumb_1x := ($image.Resize "480x q75") }} 
            {{- $thumb_2x := ($image.Resize "960x q75") }}    
            {{- $thumb_3x := ($image.Resize "1440x q75") -}} 
            #id_{{ $slug }} {
                background-image: url({{ $thumb_1x.RelPermalink }});
            }
            @media(-webkit-min-device-pixel-ratio: 1.25) { 
                #id_{{ $slug }} {
                    background-image: url({{ $thumb_2x.RelPermalink }});
                }
            }
            @media(-webkit-min-device-pixel-ratio: 2.5) { 
                #id_{{ $slug }} {
                    background-image: url({{ $thumb_3x.RelPermalink }});
                }
            }
            </style>{{- end -}}
        <div class="tile big-tile ma1" id="id_{{ $slug }}">
            <h1 class="white f3 fw2 athelas ml2 mt3">{{ .name }}</h1>
            <p class="ml2">{{ .description }}</p>
        </div>
    </a>
    {{ end }}
    {{ end }}
</div>
{{ $viaje_description := .Scratch.Get "viaje_description" }}
{{ $viaje_title := default "" (.Scratch.Get "viaje_title") }}

{{ end }}