{{/*Continent template*/}}
{{ define "main" }}
{{ range .Site.Pages }}{{ $.Scratch.Add "resources" .Resources }}{{ end }}
{{ $resources := .Scratch.Get "resources" }}

{{ $url := .Params.url }}
<div class="flex flex-wrap justify-center content-center bg-black pt4 pb4">

    {{ range $.Site.Data.viajes }}
    {{ if eq .continent $.Params.continent }}
    {{ $image := ($resources.GetMatch (printf "*%s*" (string .featured_picture ))) }}
    <a href="/viaje/{{.sanitized}}" class="no-underline">
        <div class="tile big-tile ma1" {{ with $image }} {{ $thumb_1x := (.Resize "320x q50") }}
            {{ $thumb_2x := (.Resize "640x q50") }} {{ $thumb_3x := (.Resize "960x q50") }} style="background-image: -webkit-image-set( 
                url({{ $thumb_1x.RelPermalink }}) 1x, 
                url({{ $thumb_2x.RelPermalink }}) 2x, 
                url({{ $thumb_3x.RelPermalink }}) 3x 
                );" {{ end }}>
            <h1 class="white f3 fw2 athelas ml2 mt3">{{ .name }}</h1>
            <p class="ml2">{{ .description }}</p>
        </div>
    </a>
    {{ end }}
    {{ end }}
</div>
{{ $viaje_description := .Scratch.Get "viaje_description" }}
{{ $viaje_title := default "" (.Scratch.Get "viaje_title") }}

{{ end }}