<nav class="pt2-ns pt1 ph0 ph4-ns" role="navigation">
    <div class="flex justify-between center items-aroud flex-wrap" >
        <a href="{{ .Site.BaseURL }}" class="left f3 fw2 ml3 hover-blue no-underline black dib mr3 mr4-ns">
            <img src="{{ .Site.Params.logo }}"
                srcset="{{ .Site.Params.logo }} 1x, {{ .Site.Params.logo_2x }} 2x, {{ .Site.Params.logo_3x }} 3x"
                alt="{{ .Site.Title }}" width="48px" height="48px" style="min-width: 48px; min-height: 48px;">
        </a>
        <div class="middle">
            {{ partial "i18nlist.html" . }}
            {{ if .Site.Menus.main }}
            <ul class="ph3 pb2 pt1 mt0 mb0">
                {{ range .Site.Menus.main }}
                <li class="list f5 f4-ns fw4 dib ph2 pv1 hover-bg-blue black hover-white" id="{{ .Identifier }}">
                    <a class="no-underline color-inherit" href="{{ .URL }}" title="{{ .Title | default .Name  }}">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="right">
            <div class="f5 f4-ns fw4 dib pr3 w-100"><form action="/search/" method="get"><input type="search" id="search-input"
                    class="input-reset ba b--black-20 pa2 mb2 db w-100 tc fr" placeholder="buscar" label="búsqueda"
                    name="s"
                    autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" dir="auto"
                    style="max-width: 200px;"></form></div>
            {{ partialCached "social-follow.html" . }}
        </div>
    </div>
</nav>