<footer class="{{ .Site.Params.background_footer_color_class | default "bg-black" }} bottom-0 w-100 pa3"
    role="contentinfo">
    <div class="flex justify-between">
        <a class="f4 fw4 hover-blue no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}">
            &copy; {{ now.Format "2006" }} {{ .Site.Title | safeHTML }}
        </a>
        <div>
            <ul class="pl0 mh3">
                {{ range $.Site.Data.viajes }}
                <li class="list dib"><a class="link white" href="/viaje/{{.sanitized}}">{{ .name }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div>{{ partial "social-follow.html" . }}</div>
    </div>
</footer>