.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.tile {
    overflow: hidden;
    position: relative;
    background-position: 50% 0%;
    background-color: #555;
    background-size: cover;
    flex: 0 1 auto;
    //margin: 8px;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 0 0 1em #565656, 0 0 0.2em #565656;
    -moz-transition: ease 750ms background-position;
    -o-transition: ease 750ms background-position;
    -webkit-transition: ease 750ms background-position;
    transition: ease 750ms background-position;

    width: 320px;
    height: 150px;
}


.tile:hover {
    background-position: 50% 100%;
    text-shadow:0 0 .2em #565656
}

.big-tile {

    width: 320px;
    height: 200px;

}

@media all and (max-width: 640px) {
    nav > .flex > .left {
        order: 1;
    }
    nav > .flex > .middle {
        order: 3;
    }
    nav > .flex > .right {
        order: 2;
        flex-grow: 2;
    }
}

@media all and (min-width: 1300px) {
    .tile {
        width: 480px;
        height: 225px;
    }
    .big-tile {
        width: 480px;
        height: 300px;
    }
}